body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
}

.logo {
    width: 400px;
    margin-bottom: 20px;
}

.description-text {
    max-width: 80%;
    font-size: 26px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

#step3 {
    width: 100%;
}



.upload-instructions {
    font-size: 0.9rem;
    color: #888;
    margin-top: 10px;
}

#fileList {
    padding: 0;
    max-width: 30%;
}

#fileList li {
    position: relative;
    padding-left: 30px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-type: none; 
}

#fileList li::before {
    content: '•'; 
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: justify;
}

.pdfUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.action-button {
    width:500px; 
    padding: 20px 40px;  
    font-size: 22px; 
    border-radius: 50px !important; 
    margin-top: 10px;
}

#addFilesButton {
    width: 300px;
}


.upload-instructions{
    width: 70%;
    text-align: center;
    margin: 10px 0;
}




h2,
h3 {
    text-align: center;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}




.buttonHover {
    cursor: pointer;
    transition: 0.3s;
}

.buttonHover:hover {
    transform: scale(1.05);
}

.buttonHover:active {
    transform: scale(1);
}

.yellowButton {
    background-color: #d6dd32;
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    transition: background-color 0.3s, transform 0.3s;
}

.yellowButton:hover {
    background-color: #b5c42a;
    color: white;
}



.progress {
    width: 100%;
    margin: 20px auto;
    height: 30px;
    position: relative;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 25px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #d6dd32;
    position: absolute;
    transition: width 0.4s;
    border-radius: 23px;
}

#nextSummaryButton,
#prevSummaryButton {
    padding: 10px 20px;
    font-size: 16px;
}

#sendEmailButton {
    padding: 10px 30px;
    font-size: 16px;
}

#feedbackButton {
    padding: 5px 20px;
    font-size: 13px;
}

.feedbackButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

.buttonContainer>button:not(:last-child) {
    margin-right: 20px;
}





#summaryIndex {
    text-align: center;
}

#summaryInfo {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}











.content,
.contents,
.popup-content {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

button {
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.02);
}

button:active {
    transform: scale(0.98);
}



input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}




.content,
.contents {
    width: 80%;
    text-align: center;
    margin: auto;
}

#summaryTable,
#outputTable {
    border-collapse: collapse;
    width: 100%;
    /* border-radius: 5px; */
    overflow: hidden;
}

#summaryTable th,
#summaryTable td,
#outputTable th,
#outputTable td {
    padding: 10px 20px;
}

#summaryTable tr:nth-child(odd),
#outputTable tr:nth-child(odd) {
    background-color: #f7f7f7;
}



.content p {
    font-weight: bold;
    font-size: 20px;
}



.optionContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}



.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#outputTable {
    width: 100%;
    border-collapse: separate;
    border: 1px solid black;
}

#outputTable th,
#outputTable td {
    border: 1px solid black;
}


.extraInput {
    display: none;
}




nav ul {

    list-style-type: none;
    padding: 0;
}

nav ul li {

    display: inline;
    margin-right: 10px;
}

nav ul li a {

    text-decoration: none;
}



h3 {
    margin-bottom: 5px;

}


.textArea {
    width: 70%;

    height: 65vh;

    margin-top: 5px;

    resize: none;

}

.copyButton {
    margin-top: 5px;
}

.arrowContainer {
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 10px;
}




#summaryTable {
    width: 100%;
    border-collapse: collapse;
}

#summaryTable td {
    border: 1px solid black;
    padding: 10px;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    display: none;
    z-index: 1000;

}

.popup-content {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #fff;

    width: 80%;

    max-width: 600px;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}

.popup-content textarea {
    width: calc(100% - 20px);

    height: 100px;

    padding: 10px;

    margin: 5px 10px;

    resize: vertical;

}

.close {
    color: black;
    float: right;
    font-size: 30px;
}

.close:hover {
    color: gray;
}

.icon-label {
    cursor: pointer;
    font-size: 30px;
    margin: 0 5px;
    transition: color 0.3s;
    display: inline-block;

    text-align: center;

    vertical-align: top;

    width: 40px;

}



.rating-text {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.popup-content input[type="text"],
.popup-content input[type="email"],
.popup-content input[type="submit"] {
    width: calc(100% - 20px);

    max-width: 400px;

    padding: 10px;
    margin: 10px 10px;

}

.popup-content input[type="text"]:focus,
.popup-content input[type="email"]:focus {
    background-color: lightyellow;
}











.icon-label i {
    color: gray;
}

.rating-1 input[type="radio"]:checked+i {
    color: red;
}

.rating-2 input[type="radio"]:checked+i {
    color: orangered;
}

.rating-3 input[type="radio"]:checked+i {
    color: orange;
}

.rating-4 input[type="radio"]:checked+i {
    color: yellowgreen;
}

.rating-5 input[type="radio"]:checked+i {
    color: green;
}


.commonButton,
.copyButton,
.popup-content input[type="submit"],
.selectFileButton,
.addMoreFilesButton,
.uploadAndSummarizeButton {
    padding: 10px 20px;

    font-size: 16px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #d6dd32;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
}



.commonButton:hover,
.copyButton:hover,
.popup-content input[type="submit"]:hover,
.selectFileButton:hover,
.addMoreFilesButton:hover,
.uploadAndSummarizeButton:hover {
    background-color: #b5c42a;
    color: white;
    transform: scale(1.05);
}

.commonButton:active,
.copyButton:active,
.popup-content input[type="submit"]:active,
.selectFileButton:active,
.addMoreFilesButton:active,
.uploadAndSummarizeButton:active {
    transform: scale(1);
}





.vertical-text {
    transform: rotate(-90deg);
    transform-origin: center center;
    white-space: nowrap;
}


.homeButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; 
}

:root {
    --btn-width: 100px; 
    --btn-padding: 10px; 
    --btn-border: 2px;    
    --btn-margin: 20px; 
}

.returnHome {
    width: calc(3 * (var(--btn-width) + 2 * var(--btn-padding) + 2 * var(--btn-border)) + 2 * var(--btn-margin) + 40px);
    text-align: center;
}

#returnHomeButton {
    padding: 10px 30px;
    font-size: 16px;
}

.modal-content {
    text-align: center;
}

#backToHomeButton {
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 10px;
}


.modal {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  
    background-color: rgba(0,0,0,0.7); 
    z-index: 1000;  
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    border-radius: 10px; 
}

.error-title {
    color: red;
}