<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>
</head>

<body>

    <nav>
        <ul>
            <li><a href="https://samastar.co.uk/">Home</a></li>
        </ul>
    </nav>

    <h2>Upload your PDF file</h2>
    <div class="pdfUploadContainer">
        <!-- <h2>Upload your PDF file</h2> -->
        <form id="pdfUploadForm" action="https://coral-app-qzfcm.ondigitalocean.app/upload" method="post"
            enctype="multipart/form-data">
            <input type="file" id="pdfUpload" name="pdfUpload" accept=".pdf" multiple onchange="addMoreFiles()">
            <button type="button" id="addFilesButton">Add More Files</button>
        </form>

        <!-- 新增元素显示选择的文件名 -->
        <ul id="fileList"></ul>
    </div>

    <div class="pdfUploadContainer">
        <button type="button" id="uploadAndGenerateSummaryButton">Upload PDF and Generate Summary</button>
    </div>


    <h3>PDF Text</h3> <!-- 新增标题 -->

    <textarea id="output" class="textArea" readonly></textarea> <!-- 新增文本框 -->

    <p id="fileIndex">0 / 0</p>

    <div class="buttonContainer">
        <button id="prevButton" class="copyButton">Previous</button>
        <div class="spacer"></div>
        <button id="nextButton" class="copyButton">Next</button>
        <div class="spacer"></div>
        <button id="copyButton" class="copyButton">Copy Text</button> <!-- 新增复制按钮 -->
    </div>

    <div class="arrowContainer">
        <span>&darr;</span>
    </div>

    <h3>PDF Summary</h3>
    <table id="summaryTable">
    </table>

    <!-- Progress Bar -->
    <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>

    <!-- 添加元素来显示当前摘要的索引 -->
    <p id="summaryIndex">0 / 0</p>

    <!-- 为 PDF 摘要添加上一页和下一页的按钮 -->
    <div class="buttonContainer">
        <button id="prevSummaryButton" class="copyButton">Previous</button>
        <div class="spacer"></div>
        <button id="nextSummaryButton" class="copyButton">Next</button>
        <!-- <div class="spacer"></div>
        <button id="downloadButton" class="copyButton">Download</button> -->
        <div class="spacer"></div>
        <button id="sendEmailButton" class="copyButton">Send Summary</button>
    </div>

    <div id="emailPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="document.getElementById('emailPopup').style.display='none'">&times;</span>
            <p>To send the summary to your email please fill the following then click send summary button</p>
            <form id="emailForm">
                <input type="text" id="name" name="name" placeholder="Name"><br>
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <input type="submit" value="Send Summary">
            </form>
        </div>
    </div>

    <textarea id="summary" style="display:none;"></textarea>


    <script>

        var currentTextIndex = 0;
        var currentPromptIndex = 0;

        // 定义一个数组来存储所有用户选择的文件
        var allFiles = [];

        // 新增函数来显示用户选择的文件名
        function displayFileNames() {
            var ul = document.getElementById('fileList');
            ul.innerHTML = '';
            for (var i = 0; i < allFiles.length; i++) {
                var li = document.createElement('li');
                li.innerHTML = allFiles[i].name;
                ul.appendChild(li);
            }
        }

        // 新增函数来添加更多文件
        function addMoreFiles() {
            var input = document.getElementById('pdfUpload');
            for (var i = 0; i < input.files.length; i++) {
                allFiles.push(input.files[i]);
            }
            displayFileNames();
            input.value = '';
        }

        document.getElementById('addFilesButton').addEventListener('click', function () {
            document.getElementById('pdfUpload').click();
        });

        // 存储所有的文本和当前显示的文本的索引
        var texts = [];
        var currentIndex = 0;

        // 添加翻页按钮的事件处理器
        document.getElementById('prevButton').addEventListener('click', function () {
            if (currentIndex > 0) {
                currentIndex--;
                var outputTextarea = document.getElementById('output');
                outputTextarea.value = texts[currentIndex];
            }

            document.getElementById('fileIndex').innerText = (currentIndex + 1) + ' / ' + texts.length;
        });

        document.getElementById('nextButton').addEventListener('click', function () {
            if (currentIndex < texts.length - 1) {
                currentIndex++;
                var outputTextarea = document.getElementById('output');
                outputTextarea.value = texts[currentIndex];
            }

            document.getElementById('fileIndex').innerText = (currentIndex + 1) + ' / ' + texts.length;
        });


        // 实现复制按钮的功能
        document.getElementById('copyButton').addEventListener('click', function () {
            var copyText = document.getElementById("output");
            copyText.select();
            document.execCommand("copy");
            alert("Text has been copied");
        });

        // 定义一个数组来存储所有的摘要
        var summaries = [];
        var currentSummaryIndex = 0;

        function updateSummaryDisplay() {
            var summaryTextarea = document.getElementById('summary');
            var currentSummary = summaries[currentSummaryIndex];
            summaryTextarea.value = currentSummary.map(s => s.title + ': ' + s.content).join('\n');
            summaryTable.innerHTML = '';

            var currentSummary = summaries[currentSummaryIndex];
            if (currentSummary) {
                currentSummary.forEach(function (summary) {
                    var row = summaryTable.insertRow(-1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    cell1.innerText = summary.title;
                    cell2.innerText = summary.content;
                });

                // 更新摘要索引
                document.getElementById('summaryIndex').innerText = (currentSummaryIndex + 1) + ' / ' + summaries.length;
            }
        }

        // 更新翻页按钮的事件处理器
        document.getElementById('prevSummaryButton').addEventListener('click', function () {
            if (currentSummaryIndex > 0) {
                currentSummaryIndex--;
                updateSummaryDisplay(); // 调用新的更新函数
            }
        });

        document.getElementById('nextSummaryButton').addEventListener('click', function () {
            if (currentSummaryIndex < summaries.length - 1) {
                currentSummaryIndex++;
                updateSummaryDisplay(); // 调用新的更新函数
            }
        });

        var prompts = [
            { title: 'Title', prompt: 'What is the title of the content? Please return the title only' },
            { title: 'Author', prompt: 'List the names of the authors from the content. Please return the name only.' },
            { title: 'Summarising culturing conditions', prompt: 'summarize content from the Materials and methods under cell culture section in the text and provide cell culture conditions of the inoculum or start culture and culture conditions in the fermentor / bioreactor if applicable' },
            { title: 'Summarise purification conditions', prompt: 'extract content from the Materials and methods section in the text and provide in details cell purification conditions and mention all steps, chemicals, buffers used with quantities. steps may include: isolation and dissolution of inclusion bodies, renaturation, trypsinization, precipitation, chromatography, HPLC , and any other reactions used - summarise them in order and exclude cell culture conditions' },
            { title: 'Extracting material and manufacturers', prompt: 'summarize content from the materials section in the text and provide bullet points about: names of Materials and chemicals used and names of manufacturer for each one. Example: Antifoam from Sigma L-proline from Sigma EDTA from Sigma. And Only Keep the manufacturer company names and remove all "manufacturer" words if it exists and if it is repeated in each line' },

            // 添加更多prompt和标题...
        ];

        function generateSingleSummary(textIndex, promptIndex) {
            return new Promise((resolve, reject) => {
                var pdfText = texts[textIndex];
                var promptObject = prompts[promptIndex];
                fetch('https://coral-app-qzfcm.ondigitalocean.app/generateSummary', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'text': pdfText,
                        'prompt': promptObject.prompt
                    })
                })
                    .then(response => response.json())
                    .then(json => {
                        resolve({ textIndex: textIndex, summary: { title: promptObject.title, content: json.summary } });
                    })
                    .catch(error => reject(error));
            });
        }

        // 新的生成摘要函数，提取自旧的摘要生成按钮的事件处理器
        function generateSummaries() {
            // 这里是之前在摘要生成按钮的事件处理器中的代码
            // ...
            summaries = new Array(texts.length); // 创建一个新数组来存储摘要
            for (let i = 0; i < texts.length; i++) {
                summaries[i] = []; // 每个文本的摘要都存储在一个独立的数组中
            }
            var summaryTable = document.getElementById('summaryTable');
            summaryTable.innerHTML = '';

            var summaryPromises = [];

            var totalPrompts = texts.length * prompts.length;
            var completedPrompts = 0;

            // 创建摘要的Promise
            for (let textIndex = 0; textIndex < texts.length; textIndex++) {
                for (let promptIndex = 0; promptIndex < prompts.length; promptIndex++) {
                    summaryPromises.push(
                        generateSingleSummary(textIndex, promptIndex)
                            .then(result => {
                                // 计算并更新进度条
                                completedPrompts++;
                                var progressValue = (completedPrompts / totalPrompts) * 100;
                                updateProgressBar(progressValue);
                                return result;
                            })
                    );
                }
            }

            // 并行执行所有摘要的生成
            Promise.all(summaryPromises)
                .then(results => {
                    results.forEach(result => {
                        // 将摘要添加到对应的文本摘要数组中
                        summaries[result.textIndex].push(result.summary);
                    });

                    // 更新摘要显示
                    updateSummaryDisplay();
                })
                .catch(error => console.error(error));
        }

        document.getElementById('uploadAndGenerateSummaryButton').addEventListener('click', function () {

            updateProgressBar(0); // Reset the progress bar at the start of upload

            // 创建并填充 FormData 对象
            var formData = new FormData();
            for (var i = 0; i < allFiles.length; i++) {
                formData.append('pdfUpload', allFiles[i]);
            }

            // 使用fetch上传文件
            fetch('https://coral-app-qzfcm.ondigitalocean.app/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(json => {
                    // 上传成功后更新全局变量
                    texts = json.texts;
                    currentIndex = 0;

                    // 将第一个文件的文本放入文本框
                    var outputTextarea = document.getElementById('output');
                    outputTextarea.value = texts[currentIndex];

                    // 更新文件索引
                    document.getElementById('fileIndex').innerText = '1 / ' + texts.length;

                    // 在此处调用生成摘要的功能
                    generateSummaries(); // 这是一个新的函数，用来封装生成摘要的代码
                })
                .catch(error => console.error(error));

            // 清除文件名列表和摘要
            document.getElementById('fileList').innerHTML = '';
            allFiles = [];
            summaries = [];
        });

        // function downloadSummaries() {

        //     fetch('/downloadSummaries', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({
        //             'summaries': summaries
        //         })
        //     })
        //         .then(response => response.blob())
        //         .then(blob => {
        //             // 使用浏览器的下载功能
        //             var url = window.URL.createObjectURL(blob);
        //             var a = document.createElement('a');
        //             a.href = url;
        //             a.download = 'summaries.pdf';
        //             a.click();
        //         })
        //         .catch(error => console.error(error));
        // }

        // // 绑定到一个按钮或链接
        // document.getElementById('downloadButton').addEventListener('click', downloadSummaries);

        document.getElementById('sendEmailButton').addEventListener('click', function () {
            document.getElementById('emailPopup').style.display = 'block';
        });

        function sendEmail() {
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;

            fetch('/sendEmail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'name': name,
                    'email': email,
                    'summaries': summaries
                })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    document.getElementById('emailPopup').style.display = 'none';
                    alert('Summary sent successfully!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error sending summary. Please try again later.');
                });
        }

        document.getElementById('emailForm').addEventListener('submit', function (event) {
            event.preventDefault();
            sendEmail();
        });


        function updateProgressBar(value) {
            var progressBar = document.getElementById('progressBar');
            progressBar.style.width = value + "%";
            progressBar.setAttribute('aria-valuenow', value);
        }


    </script>

</body>