<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>
</head>

<body>

    <img src="/static/logo.png" alt="Sumarizer Logo" class="logo">

    <p class="description-text">Summarize papers and extract critical bioprocessing information including purification
        and culturing methods in moments saving you time for what truly matters!</p>

    <!-- Step 1: Upload papers -->
    <div id="step1">

        <h2>Upload your papers</h2>

        <div class="pdfUploadContainer">

            <form action="https://coral-app-qzfcm.ondigitalocean.app/upload" enctype="multipart/form-data"
                id="pdfUploadForm" method="post">
                <input accept=".pdf" id="pdfUpload" multiple="" name="pdfUpload" onchange="addMoreFiles()"
                    style="display: none;" type="file" />
                <button class="buttonHover" id="addFilesButton" type="button">Select Files</button>
                <p class="upload-instructions">*Upload up to 3 papers at a time</p>
            </form>

            <ul id="fileList"></ul>
        </div>

        <div class="pdfUploadContainer">
            <button class="buttonHover yellowButton" type="button" id="uploadAndGenerateSummaryButton">Upload PDF and
                Generate
                Summary</button>
        </div>

    </div>

    <div style="display: none;">
        <h3>PDF Text</h3>

        <textarea id="output" class="textArea" readonly></textarea>

        <p id="fileIndex">0 / 0</p>

        <div class="buttonContainer">
            <button id="prevButton" class="copyButton">Previous</button>
            <div class="spacer"></div>
            <button id="nextButton" class="copyButton">Next</button>
            <div class="spacer"></div>
            <button id="copyButton" class="copyButton">Copy Text</button>
        </div>

        <div class="arrowContainer">
            <span>&darr;</span>
        </div>
    </div>

    <!-- Step 2: Show progress bar -->
    <div id="step2" style="display: none;">
        <h2>Crafting a concise summary for you ...</h2>
        <h2>Please wait ...</h2>
        <div id="progressBarContainer" class="progress">
            <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>

    </div>


    <!-- Step 3: Show summary -->
    <div id="step3" style="display: none;">

        <h2>Summary generated successfully!</h2>
        <p id="summaryInfo">Key bioprocessing insights are now at your fingertips!</p>
        <table id="summaryTable">
        </table>
        <p id="summaryIndex">0 / 0</p>


        <div class="buttonContainer">
            <button id="prevSummaryButton" class="buttonHover yellowButton">Prev</button>

            <button id="sendEmailButton" class="buttonHover yellowButton">Send summary to my email</button>

            <button id="nextSummaryButton" class="buttonHover yellowButton">Next</button>

        </div>

        <div id="emailPopup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="document.getElementById('emailPopup').style.display='none'">&times;</span>
                <p>Would you like to have this summary delivered to your inbox?</p>
                <p>Enter your name and email, and we'll send it right away!</p>
                <form id="emailForm">
                    <input type="text" id="name" name="name" placeholder="Name"><br>
                    <input type="email" id="email" name="email" placeholder="Email"><br>
                    <input type="submit" value="Send Summary">
                </form>
            </div>
        </div>

        <textarea id="summary" style="display:none;"></textarea>

        <div id="feedbackPopup" class="popup">
            <div class="popup-content">
                <span class="close"
                    onclick="document.getElementById('feedbackPopup').style.display='none'">&times;</span>
                <p>Your feedback matters! How did you find the summary?</p>
                <p>Please share your thoughts to help us improve and serve you better.</p>
                <form id="feedbackForm">
                    <label for="rating">Rating:</label><br>
                    <div id="rating">
                        <label class="icon-label rating-1">
                            <input type="radio" name="rating" value="1" hidden>
                            <i class="far fa-frown"></i>
                            <div class="rating-text">Very dissatisfied</div>
                        </label>
                        <label class="icon-label rating-2">
                            <input type="radio" name="rating" value="2" hidden>
                            <i class="far fa-frown-open"></i>
                        </label>
                        <label class="icon-label rating-3">
                            <input type="radio" name="rating" value="3" hidden>
                            <i class="far fa-meh"></i>
                        </label>
                        <label class="icon-label rating-4">
                            <input type="radio" name="rating" value="4" hidden>
                            <i class="far fa-smile"></i>
                        </label>
                        <label class="icon-label rating-5">
                            <input type="radio" name="rating" value="5" hidden>
                            <i class="far fa-laugh"></i>
                            <div class="rating-text">Very satisfied</div>
                        </label>
                    </div>

                    <br>
                    <textarea id="feedbackText" name="feedbackText"
                        placeholder="We value your input! Please leave your commennts here ..."></textarea><br>
                    <input type="submit" value="Submit feedback">
                </form>
            </div>
        </div>

        <div class="feedbackButtonContainer">
            <button type="button" id="feedbackButton" class="buttonHover yellowButton">
                <span>Feedback</span>
            </button>
        </div>


    </div>


    <script>

        var currentTextIndex = 0;
        var currentPromptIndex = 0;


        var allFiles = [];


        function displayFileNames() {
            var ul = document.getElementById('fileList');
            ul.innerHTML = '';
            for (var i = 0; i < allFiles.length; i++) {
                var li = document.createElement('li');
                li.innerHTML = allFiles[i].name;
                ul.appendChild(li);
            }
        }


        function addMoreFiles() {
            var input = document.getElementById('pdfUpload');
            for (var i = 0; i < input.files.length; i++) {
                allFiles.push(input.files[i]);
            }
            displayFileNames();
            input.value = '';
        }

        document.getElementById('addFilesButton').addEventListener('click', function () {
            document.getElementById('pdfUpload').click();
        });


        var texts = [];
        var currentIndex = 0;


        document.getElementById('prevButton').addEventListener('click', function () {
            if (currentIndex > 0) {
                currentIndex--;
                var outputTextarea = document.getElementById('output');
                outputTextarea.value = texts[currentIndex];
            }

            document.getElementById('fileIndex').innerText = (currentIndex + 1) + ' / ' + texts.length;
        });

        document.getElementById('nextButton').addEventListener('click', function () {
            if (currentIndex < texts.length - 1) {
                currentIndex++;
                var outputTextarea = document.getElementById('output');
                outputTextarea.value = texts[currentIndex];
            }

            document.getElementById('fileIndex').innerText = (currentIndex + 1) + ' / ' + texts.length;
        });



        document.getElementById('copyButton').addEventListener('click', function () {
            var copyText = document.getElementById("output");
            copyText.select();
            document.execCommand("copy");
            alert("Text has been copied");
        });


        var summaries = [];
        var currentSummaryIndex = 0;

        function updateSummaryDisplay() {
            var summaryTextarea = document.getElementById('summary');
            var currentSummary = summaries[currentSummaryIndex];
            summaryTextarea.value = currentSummary.map(s => s.title + ': ' + s.content).join('\n');
            summaryTable.innerHTML = '';

            var currentSummary = summaries[currentSummaryIndex];
            if (currentSummary) {
                currentSummary.forEach(function (summary) {
                    var row = summaryTable.insertRow(-1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    cell1.innerText = summary.title;
                    cell2.innerText = summary.content;
                });


                document.getElementById('summaryIndex').innerText = (currentSummaryIndex + 1) + ' / ' + summaries.length;
            }
        }


        document.getElementById('prevSummaryButton').addEventListener('click', function () {
            if (currentSummaryIndex > 0) {
                currentSummaryIndex--;
                updateSummaryDisplay();
            }
        });

        document.getElementById('nextSummaryButton').addEventListener('click', function () {
            if (currentSummaryIndex < summaries.length - 1) {
                currentSummaryIndex++;
                updateSummaryDisplay();
            }
        });

        var prompts = [
            { title: 'Title', prompt: 'What is the title of the content? Please return the title only' },
            { title: 'Authors', prompt: 'List the names of the authors from the content. Please return the name only.' },
            { title: 'Culturing conditions', prompt: 'summarize content from the Materials and methods under cell culture section in the text and provide cell culture conditions of the inoculum or start culture and culture conditions in the fermentor / bioreactor if applicable' },
            { title: 'Purification conditions', prompt: 'extract content from the Materials and methods section in the text and provide in details cell purification conditions and mention all steps, chemicals, buffers used with quantities. steps may include: isolation and dissolution of inclusion bodies, renaturation, trypsinization, precipitation, chromatography, HPLC , and any other reactions used - summarise them in order and exclude cell culture conditions' },
            { title: 'Materials & Manufacturers', prompt: 'summarize content from the materials section in the text and provide bullet points about: names of Materials and chemicals used and names of manufacturer for each one. Example: Antifoam from Sigma L-proline from Sigma EDTA from Sigma. And Only Keep the manufacturer company names and remove all "manufacturer" words if it exists and if it is repeated in each line' },

            // Add more prompts and titles...
        ];

        function generateSingleSummary(textIndex, promptIndex) {
            return new Promise((resolve, reject) => {
                var pdfText = texts[textIndex];
                var promptObject = prompts[promptIndex];
                fetch('https://coral-app-qzfcm.ondigitalocean.app/generateSummary', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'text': pdfText,
                        'prompt': promptObject.prompt
                    })
                })
                    .then(response => response.json())
                    .then(json => {
                        resolve({ textIndex: textIndex, summary: { title: promptObject.title, content: json.summary } });
                    })
                    .catch(error => reject(error));
            });
        }


        function generateSummaries() {

            summaries = new Array(texts.length);
            for (let i = 0; i < texts.length; i++) {
                summaries[i] = [];
            }
            var summaryTable = document.getElementById('summaryTable');
            summaryTable.innerHTML = '';

            var summaryPromises = [];

            var totalPrompts = texts.length * prompts.length;
            var completedPrompts = 0;

            for (let textIndex = 0; textIndex < texts.length; textIndex++) {
                for (let promptIndex = 0; promptIndex < prompts.length; promptIndex++) {
                    summaryPromises.push(
                        generateSingleSummary(textIndex, promptIndex)
                            .then(result => {
                                completedPrompts++;
                                var progressValue = (completedPrompts / totalPrompts) * 100;
                                updateProgressBar(progressValue);
                                return result;
                            })
                    );
                }
            }


            Promise.all(summaryPromises)
                .then(results => {
                    results.forEach(result => {

                        summaries[result.textIndex].push(result.summary);
                    });


                    updateSummaryDisplay();
                    updateProgressBar(100);

                    document.getElementById('progressBarContainer').style.display = 'none';
                })
                .catch(error => console.error(error));
        }

        document.getElementById('uploadAndGenerateSummaryButton').addEventListener('click', function () {

            if (allFiles.length === 0) {
                alert('Please select files to upload.');
                return;
            }

            updateProgressBar(0);

            document.getElementById('step1').style.display = 'none';
            document.getElementById('step2').style.display = 'block';

            var formData = new FormData();
            for (var i = 0; i < allFiles.length; i++) {
                formData.append('pdfUpload', allFiles[i]);
            }

            fetch('https://coral-app-qzfcm.ondigitalocean.app/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(json => {

                    texts = json.texts;
                    currentIndex = 0;


                    var outputTextarea = document.getElementById('output');
                    outputTextarea.value = texts[currentIndex];

                    document.getElementById('fileIndex').innerText = '1 / ' + texts.length;

                    generateSummaries();
                })
                .catch(error => {
                    console.error(error);

                    alert('Upload failed. Please try again.');
                });


            document.getElementById('fileList').innerHTML = '';
            allFiles = [];
            summaries = [];
        });

        // function downloadSummaries() {

        //     fetch('/downloadSummaries', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({
        //             'summaries': summaries
        //         })
        //     })
        //         .then(response => response.blob())
        //         .then(blob => {
        //             
        //             var url = window.URL.createObjectURL(blob);
        //             var a = document.createElement('a');
        //             a.href = url;
        //             a.download = 'summaries.pdf';
        //             a.click();
        //         })
        //         .catch(error => console.error(error));
        // }

        // document.getElementById('downloadButton').addEventListener('click', downloadSummaries);

        document.getElementById('sendEmailButton').addEventListener('click', function () {
            document.getElementById('emailPopup').style.display = 'block';
        });

        function sendEmail() {
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;

            fetch('/sendEmail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'name': name,
                    'email': email,
                    'summaries': summaries
                })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    document.getElementById('emailPopup').style.display = 'none';
                    alert('Summary sent successfully!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error sending summary. Please try again later.');
                });
        }

        document.getElementById('emailForm').addEventListener('submit', function (event) {
            event.preventDefault();
            sendEmail();
        });


        function updateProgressBar(value) {
            var progressBar = document.getElementById('progressBar');
            progressBar.style.width = value + "%";
            progressBar.setAttribute('aria-valuenow', value);
            if (value == 100) {
                document.getElementById('step2').style.display = 'none';
                document.getElementById('step3').style.display = 'block';
            }
        }


        document.getElementById('feedbackButton').addEventListener('click', function () {
            document.getElementById('feedbackPopup').style.display = 'block';
        });

        function sendFeedback() {
            var rating = document.getElementById('rating').value;
            var feedbackText = document.getElementById('feedbackText').value;

            fetch('/sendFeedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'rating': rating,
                    'feedback': feedbackText
                })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('feedbackPopup').style.display = 'none';
                    alert('Feedback submitted successfully!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error sending feedback. Please try again later.');
                });
        }

        document.getElementById('feedbackForm').addEventListener('submit', function (event) {
            event.preventDefault();
            sendFeedback();
        });

    </script>

</body>